<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniordesign.bluetoothbillboard" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view_post_list_screen"
            android:label="@string/title_activity_view_post_list_screen" >
        </activity>
        <activity
            android:name=".post_screen"
            android:label="@string/title_activity_post_screen" >
        </activity>
        <activity
            android:name=".saved_boards_screen"
            android:label="@string/title_activity_saved_boards_screen" >
        </activity>
        <activity
            android:name=".saved_posts_screen"
            android:label="@string/title_activity_saved_posts_screen" >
        </activity>
        <activity
            android:name=".search_screen"
            android:label="@string/title_activity_search_screen" >
        </activity>
        <activity
            android:name=".login_screen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name=".view_board_list_screen"
            android:label="@string/title_activity_view_board_list_screen" >
        </activity>
        <activity
            android:name=".bans_screen"
            android:label="@string/title_activity_bans_screen" >
        </activity>
        <activity
            android:name=".view_post_screen"
            android:label="@string/title_activity_view_post_screen" >
        </activity>
        <activity
            android:name=".splash_screen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_saved_post_screen"
            android:label="@string/title_activity_view_saved_post_screen" >
        </activity>
    </application>

</manifest>
